<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-header></app-header>
        <main class="content">
            <div class="container-fluid p-0">

                <h1 class="h3 mb-3"><strong>Nouveau</strong> &nbsp;&nbsp;Message</h1>


                <div class="row">
                    <form [formGroup]="form" (ngSubmit)="submit(0)">
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <!-- <div class="mb-3">
                                    <label class="form-label">Role</label>

                                    <select formControlName="status" class="form-control">
                                        <option value="Tres urgent">Directeur</option>
                                        <option value="Vice">Vice directeur</option>
                                        <option value="Moins urgent">Chef de departement</option>
                                        <option value="Moins urgent">Chef de service</option>
                                    </select>
                                </div> -->
                                <div class="mb-3">
                                    <label class="form-label">Destinataire</label>

                                    <!--<select formControlName="toMail" class="form-control select2" multple="multiple"style="width: 100%;">-->
                                    <select formControlName="toMail" class="form-control " multple="multiple"
                                        style="width: 100%;">
                                        <option *ngFor="let item of users" [ngValue]="item.id">{{ item.nom }}</option>

                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Statut</label>
                                    <select formControlName="status" class="form-control">
                                        <option value="Tres urgent">Tres urgent</option>
                                        <option value="Urgent">Urgent</option>
                                        <option value="Moins urgent">Moins urgent</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Objet</label>
                                    <input type="text" formControlName="object" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <textarea formControlName="content" class="form-control" rows="2" cols="10"
                                        placeholder="Votre message"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Attacher un fichier</label>
                                    <input type="file" class="form-control" (change)="onFileSelected($event)">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Envoyé</button> &nbsp;&nbsp;
                                    <button class="btn btn-light" (click)="draft()">Brouillon</button>&nbsp;&nbsp;
                                    <button routerLink="/inbox" class="btn btn-danger">Annuler</button>
                                </div>

                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>