<div class="container-fluid bootdey">
    <div class="email-app">
       <!--   <nav>
            <a href="#" class="btn btn-danger btn-block">New Email</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span
                            class="badge badge-danger">4</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-star"></i> Stared</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Sent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Trash</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span
                            class="badge badge-danger">4</span></a>
                </li>
            </ul>
        </nav>  -->
        <main style="background-color: rgba(255, 255, 255, 0.7); padding: 20px; border-radius: 15px;">
            <p class="text-center">Nouveau mail</p>
            <form>
                
                <div class="form-row mb-3">
                    <label for="cc" class="col-2 col-sm-1 col-form-label">A:</label>
                    <div class="col-10 col-sm-11">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <br> <br>
                <div class="form-row mb-3">
                    <label for="bcc" class="col-2 col-sm-1 col-form-label">Objet:</label>
                    <div class="col-10 col-sm-11">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <br> <br>
            </form>
            <div class="row">
                <div class="col-sm-11 ml-auto">
                      
                    <div class="form-group mt-4">

                        <textarea id="summernote" >
                            Place <em>some</em> <u>text</u> <strong>here</strong>
                          </textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Envoyé</button>
                        <button type="submit" class="btn btn-light">Brouillon</button>
                        <button routerLink="/inbox" class="btn btn-danger">Annuler</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
</div>