<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-header></app-header>
        <main class="content">
            <div class="container-fluid p-0">

                <h1 class="h3 mb-3"><strong>Message</strong> {{slug}}</h1>

                <div class="row">

                    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                        <div class="card flex-fill">

                            <table class="table  my-0">

                                <tbody style="color:black;">
                                    <tr *ngFor="let item of messages; let i = index;">
                                        <td class="action"><input type="checkbox" /></td>
                                        <td class="action"><i (click)="remove(item.id)" class="fa fa-trash"
                                                style="color: red;"></i></td>
                                        <!-- <td class="action"><i class="fa fa-star"></i></td> -->
                                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                                        <td class="name" (click)="read(item.id)"><a>{{item.emailExpediteur}}</a></td>
                                        <td class="subject" (click)="read(item.id)"><a>{{item.content |
                                                slice:0:100}}</a></td>
                                        <td class="action text-danger"> </td>
                                        <td class="time">{{item.date| date: 'yyyy-MM-dd'}} à{{item.date| date: '
                                            HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>