<!-- 

<div class="col-md-9" style="background-color: rgba(255, 255, 255, 0.7); padding: 20px; border-radius: 15px;">
    <div class="row">
        <div class="col-sm-6">
            <label style="margin-right: 8px;" class="">
                <div class="icheckbox_square-blue" style="position: relative;"><input
                        type="checkbox" id="check-all" class="icheck"
                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins
                        class="iCheck-helper"
                        style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                </div>
            </label>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Mark as read</a></li>
                    <li><a href="#">Mark as unread</a></li>
                    <li><a href="#">Mark as important</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Report spam</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 search-form">
            <form action="#" class="text-right">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" name="search"
                            class="btn_ btn-primary btn-sm search"><i
                                class="fa fa-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="padding"></div>

    <div class="table-responsive">
        <table class="table" style="color:black;">
            <tbody>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name" routerLink="/read"><a >Larry Gardner</a></td>
                    <td class="subject" routerLink="/read"><a >Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr class="read">
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star" style="color: yellow;"></i></td>
                    <td class="action"><i class="fa fa-bookmark"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr class="read">
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr class="read">
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr class="read">
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star"></i></td>
                    <td class="action"><i class="fa fa-bookmark"></i></td>
                    <td class="name"><a href="#">Larry Gardner6</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Larry Gardner</a></td>
                    <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed </a></td>
                    <td class="time">08:30 PM</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div> -->


<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-header></app-header>
        <main class="content">
            <div class="container-fluid p-0">

                <h1 class="h3 mb-3"><strong>Message</strong> reçu(s)</h1>


                <div class="row">
                    
                    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                        <div class="card flex-fill">

                            <table class="table  my-0" id="example2" >

                                <tbody style="color:black;">
                                    <tr>
                                        <td class="action"><input type="checkbox" /></td>
                                        <td class="action"><i class="align-middle me-2" data-feather="star"></i></td>
                                        <td class="action"><i class="align-middle me-2" data-feather="bookmark"></i></td>
                                        <td class="name" routerLink="/read"><a>Larry Gardner</a></td>
                                        <td class="subject" routerLink="/read"><a>Lorem ipsum dolor sit amet,
                                                consectetur
                                                adipisicing elit, sed </a></td>
                                        <td class="action text-danger">Urgent</td>
                                        <td class="time">08:30 PM</td>
                                    </tr>
                                    <tr>
                                        <td class="action"><input type="checkbox" /></td>
                                        <td class="action"><i class="align-middle me-2" data-feather="star"></i></td>
                                        <td class="action"><i class="align-middle me-2" data-feather="bookmark"></i></td>
                                        <td class="name" routerLink="/read"><a>Larry Gardner</a></td>
                                        <td class="subject" routerLink="/read"><a>Lorem ipsum dolor sit amet,
                                                consectetur
                                                adipisicing elit, sed </a></td>
                                        <td class="action text-warning">Moins urgent</td>
                                        <td class="time">08:30 PM</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>