
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="">
      <span class="align-middle">Messagerie Securisée</span>
    </a>

    <ul class="sidebar-nav">
     
      <li class="sidebar-item active">
        <a class="sidebar-link "  routerLink="/compose">
          <i class="align-middle me-2" data-feather="message-square"></i> <span  class="align-middle">Nouveau mail</span>
        </a>
      </li>
      <li class="sidebar-item ">
        <a class="sidebar-link"  routerLink="/inbox">
          <i class="fa fa-inbox align-middle"></i> <span  class="align-middle">Inbox </span>({{messages.length }})
        </a>
      </li>

      <!-- <li class="sidebar-item" (click)="read()">
        <a class="sidebar-link" >
          <i class="fa fa-star align-middle"></i>  <span class="align-middle">Lu(s) </span>
        </a>
      </li> -->
      
      <li class="sidebar-item" (click)="important()">
        <a class="sidebar-link" >
          <i class="fa fa-bookmark align-middle"></i>  <span class="align-middle">Important(s)</span>
        </a>
      </li>
      <li class="sidebar-item" (click)="send()">
        <a class="sidebar-link" >
          <i class="align-middle me-2" data-feather="corner-up-right"></i>  <span class="align-middle">Envoyé(s)</span>
        </a>
      </li>
      <li class="sidebar-item" (click)="draft()">
        <a class="sidebar-link" >
          <i class="align-middle me-2" data-feather="clipboard"></i>  <span class="align-middle">Brouillon(s)</span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="role=='ADMIN'" >
        <a class="sidebar-link" routerLink="/account">
          <i class="align-middle me-2" data-feather="users"></i>  <span class="align-middle">Gestion compte</span>
        </a>
      </li>

    </ul>

  </div>
</nav>